
@{
    ViewData["Title"] = "ResetPassword";
  
}
@model ResetPasswordVM
<div class="homepage-content" style="text-align: center; padding: 50px;">
    <h1>Reset Password</h1>
   

    <div style="max-width: 600px; margin: 0 auto;">
        <div asp-validation-summary="ModelOnly" class="text-danger fw-bold"></div>
        <form asp-controller="Accounts" asp-action="ResetPassword" method="post">
           

            <div class="input-group">
                <input asp-for="Password" type="password" placeholder="password" style="width: 100%; padding: 8px; margin-top: 5px;" />
                <span asp-validation-for="Password" class="text-danger"></span>

            </div>

            <div class="input-group">
                <input asp-for="ConfirmPassword" type="password" placeholder="password again" style="width: 100%; padding: 8px; margin-top: 5px;" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            </div>

            <button type="submit" style="padding: 10px 20px; margin-top: 5px; background-color: #007bff; color: white; border: none; border-radius: 5px;">Submit</button>

        </form>
     
    </div>
</div>

