
@{
    ViewData["Title"] = "AccessDenied";
}



    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" >403</div>
    <p class="lead text-gray-800 mb-5">Access denied</p>
        
        <a asp-controller="ToDos" asp-action="Index" class="btn btn-primary">&larr; Back to My To Do List</a>
    </div>



